---
import BaseLayout from "@src/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import MarkdownEntry from "@src/components/MarkdownEntry.astro";
import HomepageLink from "@src/components/HomepageLink.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { title, date } = entry.data;
const formattedDate = date.toLocaleDateString("en-GB", { dateStyle: "long" });
---

<BaseLayout {title}>
  <div class="max-w-2xl mx-auto my-12 mb-24">
    <HomepageLink />
    <h1 class="text-4xl my-6 leading-normal">{title}</h1>
    <p class="my-6 text-lg text-stone-500">{formattedDate}</p>
    <MarkdownEntry {entry} />
  </div>
</BaseLayout>
