---
import BaseLayout from "@src/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

import Link from "@src/components/content/Link.astro";
import HomepageLink from "@src/components/HomepageLink.astro";
import PageHeading from "@src/components/PageHeading.astro";
import PostsList from "@src/components/PostsList.astro";

// All posts, sorted by date (newest first)
const posts = await getCollection("posts");
---

<BaseLayout title="Posts by Ollie Treend">
  <div class="max-w-lg mx-auto">
    <HomepageLink />
    <PageHeading>Some things I’ve written</PageHeading>
    {!!posts && <PostsList {posts} />}
  </div>
</BaseLayout>
