---
import BaseLayout from "@src/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

import Link from "@src/components/Link.astro";
import HomepageLink from "@src/components/HomepageLink.astro";

// All posts, sorted by date (newest first)
const allPosts = (await getCollection("posts")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<BaseLayout title="Posts by Ollie Treend">
  <div class="max-w-lg mx-auto my-12">
    <HomepageLink />
    <h1 class="text-4xl my-6">Things I’ve written</h1>
    <div class="">
      <ul>
        {
          allPosts.map((post) => (
            <li class="my-6">
              <Link
                href={`/posts/${post.slug}/`}
                class="text-2xl leading-relaxed"
              >
                {post.data.title}
              </Link>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</BaseLayout>
