---
import BaseLayout from "@src/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

import HomepageLink from "@src/components/HomepageLink.astro";
import PostsList from "@src/components/PostsList.astro";
import Heading1 from "@src/components/content/Heading1.astro";

// All posts, sorted by date (newest first)
const posts = await getCollection("posts");
---

<BaseLayout title="Posts by Ollie Treend">
  <div class="max-w-xl mx-auto">
    <HomepageLink />
    <Heading1>Things I’ve written</Heading1>
    {!!posts && <PostsList {posts} />}
  </div>
</BaseLayout>
