---
const { props } = Astro;
const classNames = [
  "underline",
  "underline-offset-4",
  "font-medium",

  // Light mode
  "text-cyan-700",
  "hover:text-black",
  "hover:bg-yellow-400",
  "focus:text-black",
  "focus:bg-yellow-400",

  // Dark mode
  "dark:text-cyan-500",
  "dark:hover:text-black",
  "dark:focus:text-black",
  "dark:hover:bg-yellow-500",

  // Optional - include passed args
  props.class,
];
delete props.class;
---

<a {...props} class:list={classNames}><slot /></a>
