---
import collectionExists from "@src/lib/collectionExists";
import BaseLayout from "@src/layouts/BaseLayout.astro";
import Link from "@src/components/content/Link.astro";
import Ollie from "@src/components/Ollie.astro";
import SocialLinks from "@src/components/SocialLinks.astro";
import PageHeading from "@src/components/PageHeading.astro";

const postsExist = collectionExists("posts");
---

<BaseLayout title="Ollie Treend">
  <div class="max-w-lg mx-auto">
    <Ollie class="max-w-48" />
    <PageHeading>👋🏻 Hi there</PageHeading>
    <p class="text-2xl leading-relaxed my-6">
      My name is Ollie Treend. I’m a software engineer living in London, UK.
    </p>
    <p class="text-xl leading-relaxed my-6">
      I currently work as a tech lead at the Department for Education. I’ve
      worked in other government departments too, including at the Government
      Digital Service on <Link href="https://www.gov.uk">GOV.UK</Link>.
    </p>
    {
      postsExist && (
        <p class="text-xl leading-relaxed my-6">
          Occasionally,
          <Link href="/posts">I write things here</Link>.
        </p>
      )
    }
    <h2 class="text-3xl my-6 mt-10 font-serif">Where to find me</h2>
    <SocialLinks />
  </div>
</BaseLayout>
