---
import Ollie from "@src/components/Ollie.astro";
---

<div class="my-6 sm:my-12 flex justify-center">
  <a
    href="/"
    class="rounded-full transition-transform [@media(hover:hover)]:hover:scale-125 [@media(hover:hover)]:motion-reduce:hover:transform-none"
  >
    <Ollie class="max-w-32" />
    <span class="sr-only">Return to homepage</span>
  </a>
</div>
