---
import Ollie from "@src/components/Ollie.astro";
---

<div class="my-6 sm:my-12 flex justify-center">
  <a
    href="/"
    class="rounded-full transition-transform hover:scale-125 motion-reduce:hover:scale-none"
  >
    <Ollie class="max-w-32" />
    <span class="sr-only">Return to homepage</span>
  </a>
</div>
