---
import Ollie from "@src/components/Ollie.astro";
---

<div class="my-12 flex justify-center">
  <a href="/" class="hover:scale-125 transition-transform rounded-full">
    <Ollie class="max-w-32" />
  </a>
</div>
