---
import Callout from "@src/components/content/Callout.astro";
import Link from "@src/components/content/Link.astro";
import SectionBreak from "@src/components/content/SectionBreak.astro";
import Heading1 from "@src/components/content/Heading1.astro";
import Heading2 from "@src/components/content/Heading2.astro";
import Heading3 from "@src/components/content/Heading3.astro";

const { entry } = Astro.props;
const { Content, components } = await entry.render();

const renderComponents = {
  ...components,
  a: Link,
  hr: SectionBreak,
  h1: Heading1,
  h2: Heading2,
  h3: Heading3,
  Callout,
};

const proseClass = [
  "prose prose-stone prose-lg",
  "dark:prose-invert",
  "prose-blockquote:border-stone-300 prose-blockquote:dark:border-stone-500",
];
---

<div class:list={proseClass}>
  <Content components={renderComponents} />
</div>
