<section id="comments" class="mt-14">
  <script
    src="https://giscus.app/client.js"
    data-repo="ollietreend/ollie.treend.uk"
    data-repo-id="R_kgDOIhMzww"
    data-category="Comments"
    data-category-id="DIC_kwDOIhMzw84CmVQ7"
    data-mapping="title"
    data-strict="1"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async></script>
</section>
