---
import SocialLink from "@src/components/SocialLink.astro";
const links = [
  {
    title: "Twitter",
    icon: "twitter",
    url: "https://twitter.com/OllieTreend",
  },
  {
    title: "Mastodon",
    icon: "mastodon",
    url: "https://tech.lgbt/@ollie",
  },
  {
    title: "Last.fm",
    icon: "lastfm",
    url: "https://www.last.fm/user/olivertreend",
  },
  {
    title: "GitHub",
    icon: "github",
    url: "https://github.com/ollietreend",
  },
  {
    title: "Instagram",
    icon: "instagram",
    url: "https://www.instagram.com/ollietreend",
  },
  {
    title: "LinkedIn",
    icon: "linkedin",
    url: "https://www.linkedin.com/in/ollietreend",
  },
  {
    title: "Email",
    icon: "email",
    url: "mailto:ollie@treend.uk",
  },
];
---

<nav class="flex flex-wrap gap-7">
  {links.map((link) => <SocialLink {...link} />)}
</nav>
