---
// Cabin font: https://fontsource.org/fonts/eb-garamond
import "@fontsource/eb-garamond";

const { title, description } = Astro.props;
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.svg" />
    <link rel="mask-icon" href="/favicon-mask.svg" color="#000" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
  </head>
  <body class="m-6 my-12 mb-36 bg-stone-50 dark:bg-stone-900 dark:text-stone-300">
    <slot />
  </body>
</html>
