---
import "@src/styles/global.css";
import favicon from "@src/images/favicon.svg";
import faviconMask from "@src/images/favicon-mask.svg";
const { title, description } = Astro.props;
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href={favicon.src} />
    <link rel="mask-icon" href={faviconMask.src} color="#000" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    <script src="@src/scripts/prefetch-links.js"></script>
  </head>
  <body
    class="m-6 sm:my-12 mb-24 sm:mb-36 bg-stone-50 dark:bg-stone-900 dark:text-stone-300"
  >
    <slot />
  </body>
</html>
