---
const { title } = Astro.props.frontmatter || Astro.props;
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="bg-stone-50 m-6">
    <slot />
  </body>
</html>
