---
const { title } = Astro.props.frontmatter || Astro.props;
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="m-6 bg-stone-50 dark:bg-stone-800 dark:text-stone-200">
    <slot />
  </body>
</html>
