---
// Cabin font: https://fontsource.org/fonts/cabin
import "@fontsource-variable/cabin";
import "@fontsource-variable/cabin/wght-italic.css";

const { title } = Astro.props.frontmatter || Astro.props;
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.svg" />
    <link rel="mask-icon" href="/favicon-mask.svg" color="#000" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="m-6 my-12 bg-stone-50 dark:bg-stone-800 dark:text-stone-300">
    <slot />
  </body>
</html>
